/*Initialisation of CSS properties by default*/

/*variables & root*/
:root {
    --main-font: 'Permanent Marker', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

/*Always display number input arrows */
input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
  }

/*Title light animation*/
@keyframes clignote {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(2);
    }
    100% {
        filter: brightness(1);
    }
 }

body {
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height : 30%;
    background: #ddd;
}

.title {
    font-family: var(--main-font);
    font-size: 4rem;
    color : #AD00E7;
    text-shadow: 3px 3px pink, -1px -2px yellowgreen;
    animation: 2s infinite clignote ;
}

#scoreForm {
    margin-bottom: 5px;
}

#scoreForm label {
    color: purple;
}

#winScore {
    border: none;
    width: 70px;
    text-align: center;
    border-radius: 20px;
}

button {
    width: 300px;
    background-color: #AD00E7;
    color: yellow;
    border: none;
    padding: 5px;
    box-shadow: 1px 1px 5px;
    border-radius: 10px;
    font-family: var(--main-font);
    filter: brightness(1);
    transition: 0.4s;
    font-size: 1.5rem;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    filter: brightness(2);
}

button:active {
    transform: scale(0.95);
    box-shadow: 0 0;
}

main {
    height: 70%;
    background-color: 
}

#game-area {
    height: 60%;
    background: #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#turn-points {
    position: absolute;
    z-index: 2;
    font-family: var(--main-font);
    font-size: 2rem;
    top: 10px;
    color: yellow;
    background-color: black;
    padding: 3px;
    border-radius: 20px;
    border: solid 2px #AD00E7;
}

.game-buttons button {
    width: 100px;
    z-index: 20;
}

.players-area {
    height : 40%;
    background :#ddd;
    display: flex;
}

#player1, #player2 {
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    transition: 0.8s;
}

#player2 {
    text-align:end;
}

/* invert avatr img on the right of the screen for the player 2 */
#player2 img {
    transform: scaleX(-1)
}

.score-area {
    z-index: 10;
    font-family: var(--main-font);
    font-size: 2rem;
    color: yellowgreen;
    text-shadow: yellow 2px 1px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scorebar {
    width: 150px;
    height: 30px;
    border: 2px solid pink;
    border-radius: 20px;
}

.scorefill {
    border-radius: 20px;
    background: yellow;
    height : 100%;
    width: 0%;
}

.avatar {
    position: relative;
    color: greenyellow;
}

.avatar img {
    position: absolute;
    bottom: 0;
    max-width: 40vw;
}

#player1 .avatar img {
    left: 0;
}

#player2 .avatar img {
    right: 0;
}

.avatar-selector {
    display: flex;
    justify-content: center;
}

.avatar-selector > * {
    padding: 5px;
    font-family: var(--main-font);
    z-index: 10;
    font-size: 1.5rem;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 5px;
}

.active-turn{
    background: rgba(233, 255, 36, 0.651);
}

.active-turn img{
    filter: drop-shadow(10px 10px 20px yellow);
}

.inactive-turn{
    opacity: 0.6;
}

.ok {
    font-size: 2em;
    color: yellow;
    padding: 10px;
    border: solid 2px greenyellow;
    border-radius: 50%;
}

.ok:hover, .fas:hover {
    cursor: pointer;
}

.choice {
    width: 200px;
    text-align: center;
}

.winner {
    background: #AD00E7;
    transform: scale(1.2);
}

.winner img{
    filter: drop-shadow(10px 10px 20px red);
}

@media screen and (max-height: 600px) {
    html {
        font-size: 10px;
    }

    .game-buttons {
        position: absolute;
        top: 0;
    }
}